services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: crm
      MYSQL_USER: crm
      MYSQL_PASSWORD: crm
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    command: ["--character-set-server=utf8mb4", "--collation-server=utf8mb4_0900_ai_ci"]
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    environment:
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - DEBUG=${DEBUG}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - REPORT_THRESHOLD=${REPORT_THRESHOLD}
      - MEDIA_ROOT=${MEDIA_ROOT}
      - MEDIA_URL=${MEDIA_URL}
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - media_data:/app/var/media

volumes:
  mysql_data:
  media_data:
